.externalToolBuilders/
*.class
*.project
*.classpath
*.settings/
bin/
target/
# Package Files #
*.jar
*.war
*.ear
.idea/
node_modules/
*.iml
version.properties
test-output/
*.bak
*.log*
*.lnk
bin-debug/
# intellj folders #
gen/
libs/

