<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.course"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="MyActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity2" android:label="@string/activity2_title"/>
        <activity android:name=".calculator.CalculatorActivity" android:label="@string/calculator_activity_title"/>
        <activity android:name=".calculator.ResultActivity" android:label="@string/calculator_result_activity_title"/>
        <activity android:name=".LayoutTest" android:label="@string/layout_test"/>
    </application>
</manifest>
